xml-resources/web-service-references/WebServiceCurso/wsdl/35.197.30.148_8080/AyD2F3/WebServiceCurso.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServiceCurso/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServiceCurso/">

<xs:element name="agregarCurso" type="tns:agregarCurso"/>

<xs:element name="agregarCursoResponse" type="tns:agregarCursoResponse"/>

<xs:element name="buscarCurso_Id" type="tns:buscarCurso_Id"/>

<xs:element name="buscarCurso_IdResponse" type="tns:buscarCurso_IdResponse"/>

<xs:element name="buscarCurso_nombre" type="tns:buscarCurso_nombre"/>

<xs:element name="buscarCurso_nombreResponse" type="tns:buscarCurso_nombreResponse"/>

<xs:element name="listaDocenteCurso" type="tns:listaDocenteCurso"/>

<xs:element name="listaDocenteCursoResponse" type="tns:listaDocenteCursoResponse"/>

<xs:element name="listacurso" type="tns:listacurso"/>

<xs:element name="listacursoResponse" type="tns:listacursoResponse"/>

<xs:complexType name="buscarCurso_Id">
<xs:sequence>
<xs:element name="id_curso" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCurso_IdResponse">
<xs:sequence>
<xs:element name="return" type="tns:curso" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="curso">
<xs:sequence>
<xs:element name="creditos" type="xs:int"/>
<xs:element name="id_curso" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listacurso">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listacursoResponse">
<xs:sequence>
<xs:element name="return" type="tns:curso" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCurso_nombre">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCurso_nombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:curso" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaDocenteCurso">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaDocenteCursoResponse">
<xs:sequence>
<xs:element name="return" type="tns:docenteCurso" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="docenteCurso">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="creditos" type="xs:int"/>
<xs:element name="cui" type="xs:int"/>
<xs:element name="id_curso" type="xs:int"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="nombre_c" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_u" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarCurso">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="creditos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarCursoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>